.body {
  margin: 0;
  box-sizing: border-box;
}

.main__title span {
  background: linear-gradient(to bottom, #fff 20%, #ECF3FF 20%, #ECF3FF 90%, #fff 90%, #fff 10%);
}

.main__button:hover {
  opacity: .5;
}

.footer_circle1 {
  width: 8px;
  height: 8px;
  margin-right: 4px;
  background: #C8DBFB;
  border-radius: 50%;
}

.footer_circle2 {
  width: 8px;
  height: 8px;
  margin-right: 4px;
  background: #C8DBFB;
  border-radius: 50%;
}

.footer_circle3 {
  width: 8px;
  height: 8px;
  background: #C8DBFB;
  border-radius: 50%;
}

@keyframes glowing {
      0% { background-color: #0056EC; box-shadow: 0 0 10px #0056EC; }
      50% { background-color: #C8DBFB; box-shadow: 0 0 20px #C8DBFB; }
      100% { background-color: #0056EC; box-shadow: 0 0 10px #0056EC; }
      }

.main__button {
animation: glowing 2s infinite;
}

@media (min-width: 1367px) {
.wrapper {
  width: 80%;
  margin-top: 18px;
  margin-left: 10%;
}

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-bottom: 100px;
}

.logo__text {
  padding: 23px 0 2% 45px;
  font: bold 24px/30px 'pt_serifbold', arial, helvetica, sans-serif;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 30%;
  transform: translateY(-60%);
  width: 28px;
  height: 28px;
  opacity: .7;
  border-radius: 50%;
}

.logo__circle_color_blue {
  background: #C8DBFB;
  left: 8px;
  top: 37%;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
}

.menu {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
 }

.menu__item {
  position: relative;
  margin-top: 8%;
  margin-right: 27px;
  font: 500 18px/21px 'Roboto', arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item:after {
  position: absolute;
  left: -1px;
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item:hover {
  opacity: .5;
}

.menu__item:hover::after, .menu__item_active::after {
  opacity: 1;
  width: 100%;
}

.menu__item:last-child {
  margin-right: 1px;
}

 .main {
  padding-bottom: 250px;
  background: 101% -1% no-repeat url(img/mainming.svg);
}

.main__title {
  padding: 70px 49% 0 0;
  margin-bottom: 35px;
  font: bold 66px/88px 'pt_serifbold', arial, helvetica, sans-serif;
}

.main__subtitle {
  padding-right: 48%;
  margin: 9px 24% 40px 0;
  font: 400 22px/26px 'Roboto', arial, helvetica, sans-serif;
}

.main__button {
  display: inline-block;
  padding: 15px 35px 16px 24px;
  font: 500 18px/26px 'Roboto', arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  border-radius: 4px;
  text-decoration: none;
  transition: opacity .5s;
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 17px;
}

.main__subtitle-mobile {
  display: none;
}

.main__image-mobile {
  display: none;
}

}

/*разрешение от 1025 до 1366*/
@media (min-width: 1025px) and (max-width: 1366px) {
.wrapper {
  width:71%;
  margin: 18px 0px 0px 14%;
}

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 9px 10px 10px 25px;
  margin-bottom: 81px;
}

.logo__text {
  padding: 12px 42px;
  font: bold 24px/30px 'pt_serifbold', arial, helvetica, sans-serif;
}

.logo__circle {
  position: absolute;
  left: 24px;
  top: 33%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  opacity: .7;
  border-radius: 50%;
}

.logo__circle_color_blue {
  background: #C8DBFB;
  left: 30px;
  top: 39%;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
}

.main {
  padding-bottom: 150px;
  background-size: 54% !important;
  background: 99% -11% no-repeat url(img/mainming.svg);
}

.main__title {
  padding: 8px 49% 7px 23px;
  margin-bottom: 35px;
  font: 700 50px/65px 'pt_serifbold', arial, helvetica, sans-serif;
}

.main__subtitle {
  padding-right: 30%;
  margin: 0px 30% 41px 26px;
  font: 500 18px/21px 'Roboto', arial, helvetica, sans-serif;
}

.menu {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
 }

.menu__item {
  position: relative;
  margin-top: 8%;
  margin-right: 26px;
  font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item:after {
  position: absolute;
  left: -1px;
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item:hover::after, .menu__item_active::after {
  opacity: 1;
  width: 100%;
}

.menu__item:last-child {
  margin-right: 0px;
}

.main__button {
  display: inline-block;
  padding: 15px 24px 13px 19px;
  margin-left: 24px;
  margin-top: -2px;
  font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  border-radius: 4px;
  text-decoration: none;
  transition: opacity .5s;
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-left: 11px;
}

.main__subtitle-mobile {
  display: none;
}

.main__image-mobile {
  display: none;
}

}

/*adoptation for 1024*768*/
@media (min-width: 768px) and (max-width: 1024px) {
.wrapper {
  width: 96%;
  margin-top: 19px;
  margin-left: 14px;
}

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 9px 10px 10px 25px;
  margin-bottom: 81px;
}

.logo__text {
  padding: 13px 45px;
  font: bold 24px/30px 'pt_serifbold', arial, helvetica, sans-serif;
}

.logo__circle {
  position: absolute;
  left: 22px;
  top: 32%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  opacity: .7;
  border-radius: 50%;
}

.logo__circle_color_blue {
  background: #C8DBFB;
  left: 30px;
  top: 39%;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
}

.main {
  padding-bottom: 150px;
  background-size: 54% !important;
  background: 98% -20% no-repeat url(img/mainming.svg);
}

.main__title {
  padding: 4px 42% 0px 23px;
  margin-bottom: 40px;
  font: 700 50px/66px 'pt_serifbold', arial, helvetica, sans-serif;
}

.main__subtitle {
  padding-right: 29%;
  margin: 0px 31% 42px 23px;
  font: 500 18px/21px 'Roboto', arial, helvetica, sans-serif;
}

.menu {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
 }

.menu__item {
  position: relative;
  margin-top: 8%;
  margin-right: 27px;
  font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item:after {
  position: absolute;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item:hover::after, .menu__item_active::after {
  opacity: 1;
  width: 100%;
}

.menu__item:last-child {
  margin-right: 0px;
}

.main__button {
  display: inline-block;
  padding: 15px 24px 13px 20px;
  margin-left: 23px;
  margin-top: -2px;
  font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  border-radius: 4px;
  text-decoration: none;
  transition: opacity .5s;
}

.main__subtitle-mobile {
  display: none;
}

.main__image-mobile {
  display: none;
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-left: 11px;
}

}

/*adoptation for 1024*768*/
@media (min-width: 768px) and (max-width: 1024px) {
.wrapper {
  width: 96%;
  margin-top: 19px;
  margin-left: 1.5%;
}

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 9px 10px 10px 25px;
  margin-bottom: 81px;
}

.logo__text {
  padding: 13px 45px;
  font: bold 24px/30px 'pt_serifbold', arial, helvetica, sans-serif;
}

.logo__circle {
  position: absolute;
  left: 22px;
  top: 32%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  opacity: .7;
  border-radius: 50%;
}

.logo__circle_color_blue {
  background: #C8DBFB;
  left: 30px;
  top: 39%;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
}

.main {
  padding-bottom: 150px;
  background-size: 54% !important;
  background: 98% -20% no-repeat url(img/mainming.svg);
}

.main__title {
  padding: 4px 42% 0px 23px;
  margin-bottom: 40px;
  font: 700 50px/66px 'pt_serifbold', arial, helvetica, sans-serif;
}

.main__subtitle {
  padding-right: 29%;
  margin: 0px 31% 42px 23px;
  font: 500 18px/21px 'Roboto', arial, helvetica, sans-serif;
}

.menu {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
 }

.menu__item {
  position: relative;
  margin-top: 8%;
  margin-right: 27px;
  font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item:after {
  position: absolute;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item:hover::after, .menu__item_active::after {
  opacity: 1;
  width: 100%;
}

.menu__item:last-child {
  margin-right: 0px;
}

.main__button {
  display: inline-block;
  padding: 15px 24px 13px 20px;
  margin-left: 23px;
  margin-top: -2px;
  font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  border-radius: 4px;
  text-decoration: none;
  transition: opacity .5s;
}

.main__subtitle-mobile {
  display: none;
}

.main__image-mobile {
  display: none;
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-left: 11px;
}

}

/*adoptation for mobile*/
@media (max-width: 767px) {
 .wrapper {
  width: 94%;
  margin-left: auto;
  margin-right: 8%
}

.main-content__button {
  display: none;
}

.main__image-max {
  display: none;
}

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 4% 0 -6px 5%;;
}

.footer {
  display: none;
}

.logo_mobile {
  position: relative;
  margin-left: 24px;
}

.logo__text {
  display: none;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 30%;
  transform: translateY(-60%);
  width: 28px;
  height: 28px;
  opacity: .7;
  border-radius: 50%;
  }

.logo__circle_color_blue {
  left: 10px;
  top: 31px;
  background: #C8DBFB;
}

.logo__circle_color_dark-blue {
  top: 125%;
  background: #0056EC;
  opacity: 0.7;
}

.menu {
  display: none;
}

.main__image-mobile {
  margin: 17% 12% 7% 12%;;
  text-align: center;
  display: block;
}

.main__title {
  text-align: center;
  margin: 10px 10px 56px 57px;
  width: 250px;
  height: 96px;
  font: bold 30px/39px 'pt_serifbold', arial, helvetica, sans-serif;
}

.main__subtitle-mobile {
  text-align: center;
  margin: 2px 1px 24px 54px;
  padding-left: 3px;
  width: 251px;
  height: 57px;
  font: 500 16px/19px 'Roboto', arial, helvetica, sans-serif;
}

.main__subtitle {
  display: none;
}

.main__button {
  text-align: center;
  position: relative;
  display: inline-block;
  padding: 12px 6px 16px 0;
  margin-left: 76px;
  width: 203px;
  font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  border-radius: 4px;
  text-decoration: none;
  transition: opacity .5s;
}

/*бургер-меню*/
#menu__toggle {
  opacity: 0;
}

.menu__btn {
  z-index: 2;
  display: flex;
  align-items: center;
  position: fixed;
  top: 40px;
  width: 25px;
  cursor: pointer;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #0056EC;
  transition-duration: .25s;
}

.menu__btn > span::before {
  content: '';
  top: -7px;
}

.menu__btn > span::after {
  content: '';
  top: 7px;
}

.menu__box {
  z-index: 1;
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  padding: 160px 0;
  list-style: none;
  text-align: center;
  align-items: center;
  background-color: #fff;
  transition-duration: .25s;
}

.menu__item_mobile {
  display: block;
  padding: 12px 24px;
  color: #000;
  font-style: normal;
  font: 700 30px/36px 'Roboto';
  text-decoration: none;
  transition-duration: .25s;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

}
/*скрывает бургер-меню на высоком разрешении*/
@media (min-width: 767px) {
.hamburger-menu {
  display: none;
}

.menu__box {
  display: none;
}
}
